*{
    font-family: Arial, Helvetica, sans-serif;
}

.div1{
width: 60vw;
height: 40vh;
border: 1px solid black;
background-color: #24bf6f;
background-image: url(images/art.jpg);
background-position: 0% 20%;
/* background-size:60vw 40vh; */
background-size: 60vw 40vh;
background-repeat: no-repeat;
background-attachment: fixed;
overflow:scroll;
}

header h1{
    background-color: rgb(238, 74, 78);
}

body {
    height: 100vh;
    /* border: 1px solid red; */
    /* background-color: #6394C5;
    background-image: url(images/heal.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed; */
    background: #6394C5 url(images/heal.jpg) repeat-x fixed top left;
    background-size: 100vw 100vh;
}